@use "../../sass/mixins/grid" as *;
.advices {
  .advices__content {
    @include grid(550px);
    @media (max-width: 767px) {
      @include grid(270px);
    }
    .advice {
      .information {
        direction: rtl;
      }
      .image {
        img {
          width: 150px;
        }
      }
      @media (max-width: 767px) {
        flex-direction: column;
      }
    }
  }
}
