@use "../../sass/colors/colors" as *;
@use "../../sass/mixins/grid" as *;
.services {
    .services__content {
        .box {
            .description {
                .title {
                    text-shadow: 0 0 0 $main;
                    font-size: 1.6rem;
                    margin-bottom: 0;
                    -webkit-text-stroke-width: 2px;
                }
            }
            @media (max-width: 767px) {
                flex-direction: column;
                .description,
                .image {
                    width: 100%;
                }
                .description {
                    .title {
                        font-size: 1rem;
                    }
                }
            }
        }
        .services__group {
            @include grid(300px);
            .service {
                .service__image {
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
}